<html lang="en">

<head><title>Storage Template</title></head>
<body>
<p>
    <label for=""><TMPL_VAR NAME=RESULT  /></label>
</p>
<a href="http://127.0.0.1:8080/server.pl"> back off</a>
</body>

</html>